
html {
  width:100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.topheader {
border: 3px solid black;
box-shadow: 3px 3px 4px gray;
background-color:  white;
width: auto;
text-align: left;
margin: 0;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
bottom: 0;
z-index: 7;
overflow: hidden;
}


#topheaderleft {
  width: 40%;
  height: auto;
  float: left;
  padding-left: 50px;
  display: inline-block;
  
}
  
#topheaderleft img {
  width: 40%;
  height: auto;
  object-fit: initial;
  display: inline-block;
}

.languages {
  display: inline-block;
  position: relative;
  bottom: 10px;
}
  
.languages li a {
  height: auto;
  color: #467237;
  text-decoration: solid;
  font-size: 100%;
  display: inline-block;
  text-align: center;
  }
  
.languages li {
  display: inline-block;
  }  

#topheaderright {
  float: right;
  padding-right: 50px;
  font-size: 160%;
  margin-right: 50px;
  padding-top: 3.25%;
  display: inline-block;

}


.topheader ul {
  margin: 0px;
  padding: 0px;
  overflow: hidden;

}

.topheader li {
  display: inline-block;
  padding-right: 15px;
}

.topheaderright li a {
  text-align: center;
  padding: 20px 10px;
  float: right;
}

.topheader li a:hover {
  color: red;
}

.navigation li a {
text-decoration: none;
color: #467237;
}


@media screen and (max-width: 500px) {
  .topheader a {
    float: none;
    display: block;
    text-align: left;
  }
  .topheaderright {
    float: none;
  }
}

/* -------------------------------about event------------------------ */

.grid-top{
  width: 100%;
  height: auto;
  margin: 0;
  background-color:#326979; 
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}


.topvideobox {
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}
.topvideobox video {
  width: 70vw;
}

.About-section{
  width: 90vw;
  margin-left: -3px;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.About-section img{
  margin-top: 0%;
  width: 98vw;
}

.text-about{
  width: 30vw;
  font-size:1.1rem;
  margin-top: 0%;
  margin-left: 35%;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
  color: white;
}

@media only screen and (max-width:1024px){

  .text-about{
    width: 50vw;
    font-size:0.9rem;
    margin-left: 25%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    color: white;
  }

  .About-section img{
    margin-top: 10%;
    width: 98vw;
  }
}

@media only screen and (max-width:868px){

  .text-about{
    width: 50vw;
    font-size:0.7rem;
    margin-left: 25%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    color: white;
  }
}

@media only screen and (max-width:450px){

  .text-about{
    width: 60vw;
    font-size:0.3rem;
    margin-left: 15%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    color: white;
  }

  .About-section img{
    margin-top: 15%;
   
  }
}



/* -------------------------------opening hours------------------------ */

.opening-hours{
background-color: #db4743;
}

.opening-hours img{
  max-width: 100%;
  height: auto;
  display: table;
  margin: 0 auto;
}


/* -------------------------------Christmas event------------------------ */
.grid2{
background-color: #94bd85;
height: auto;
width: 100%;
margin: 0;
display: grid;
grid-template-columns: 1fr 1fr;
justify-content: center;
gap: 10px;
padding: 10px;
box-sizing: border-box;
}

.section-event img{
width: 35vw;
border-radius: 5%;
}
.section-event1 img{
width: 35vw;
border-radius: 5%;
}

.section-event{
  width: 50vw;
  text-align: center;
  margin-left:5% ;
  margin-top: 4%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  }

.text-event2{
  width: 80%;
  text-align: left;
  margin-top: 0%;
  margin-left:10% ; 
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3; 
  }

.text-ev h2{
  color:  #ffffff;
  }
.text-ev p{
  color:  #ffffff;
  }

.text-ev1 {
  background: transparent;
  padding: 1.1rem 2rem;
  font-size: 1.1rem;
  position: relative;
  }

.section-event1{
  width:80%;
  margin-left: 13%;
  margin-top: 5%;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 2;
  }

.text-event1{
  width: 80%;
  text-align: left;
  margin-top: 2%;
  margin-left:15% ; 
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2; 
  }

.text-ev1 h2{
  color:  #ffffff;
  }
.text-ev1 p{
  color:  #ffffff;
  }

.text-ev {
  background: transparent;
  padding: 1.1rem 2rem;
  font-size: 1.1rem;
  position: relative;
}



@media only screen and (max-width:950px){

.section-event{
  width: 30vw;
  text-align: center;
  margin-left:15%;
  margin-top: 4%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.text-event2{
  width: 90%;
  text-align: left;
  margin-top: 0%;
  margin-left:8% ; 
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3; 
}

.text {
    background: transparent;
    padding: 1.1rem 2rem;
    font-size: 1rem;
    position: relative;   
  }
  
  .section-event1{
    width: 40vw;
    text-align: center;
    margin-left:35% ;
    margin-top: 5%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .text-event1{
    width: 90%;
    text-align: left;
    margin-top: 2%;
    margin-left:8% ; 
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3; 
  }
  
.text1 {
  background: transparent;
  padding: 1.1rem 2rem;
  font-size: 1rem;
  position: relative;
}

  .image-event1 img{
      width: 60vw;
  }
  .image-event img{
    width: 60vw;
}

}

@media only screen and (max-width:450px){

.section-event{
  width: 10%;
  text-align: center;
  margin-left:5%;
  margin-top: 4%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}

.image-event img{
  width: 80vw;
}

.text-event2{
  width: 100%;
  text-align: left;
  margin-top: 0%;
  margin-left:0% ; 
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3; 
}

.text-ev1 {
    background: transparent;
    padding: 1.1rem 2rem;
    font-size: 1rem;
    position: relative;   
  }
  
  .section-event1{
    width: 40vw;
    text-align: center;
    margin-left:10% ;
    margin-top: 5%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  
  .text-event1{
    width: 100%;
    text-align: left;
    margin-top: 2%;
    margin-left:0% ; 
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3; 
  }
  
  .text-ev {
      background: transparent;
      padding: 1.1rem 2rem;
      font-size: 1rem;
      position: relative;
    }

.image-event1 img{
    width: 80vw;
}
}  
/* -------------------------Famous person----------------------- */

.famousperson {
height: auto;
width: 100%;
display: inline-block;
}



.famouscontainer {
  border: 5px solid #db4743;
  width: 100%;
  height: auto;
  margin: 0;

  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "famous1 famousimage2"
  "famousimage4 famous3";

  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;

}

.famous1 { grid-area: famous1; }
.famousimage2 { grid-area: famousimage2; }
.famous3 { grid-area: famous3; }
.famousimage4 { grid-area: famousimage4; }




#christmasqueen {
font-size:30px;
margin-bottom: 60px;
width: 100%;
}

.famous1 {
  width: 70%;
  text-align: left;
  margin-top: 5%;
  margin-left: 15% ;
}

.famous1 p {
  font-size: 1.1rem;
}


.famousimage2 {
  width: 73%;
  height: auto;
  border-radius: 5%;
  margin: 15%;
}

.famous3 {
  width: 70%;
  text-align: left;
  margin-bottom: 5%;
  margin-right: 15% ;
}

.famous3 p{
  font-size: 1.1rem;
}

.famousimage4 {
  width: 70%;
  height: auto;
  border-radius: 5%;
  margin-bottom: 5%;
  margin-right: 15% ;
  margin-left: 15% ;
}


.famouscontainer p {
  color: #db4743;
}


.famouscontainer h2 {
  font-size: 180%;
  color: #db4743;
     
}

.famouscontainer h4 {
   font-size: 140%;
   color: #db4743;
}

@media only screen and (max-width:950px){

.famouscontainer {
  background: transparent;
  padding: 1.1rem 2rem;
  font-size: 1rem;
  position: relative;   
}

.famousimage2 {
  width: 70%;
  height: auto;
  margin-left:15% ;
  margin-right:15%;
  margin-top: 4%;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.famous1 {
  max-width: 90%;
  text-align: left;
  margin-top: 0%;
  margin-left:8% ; 
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3; 
}


  .famousimage4 {
    width:  70%;
    height: auto;
    margin-left:15% ;
    margin-right:15%;
    margin-top: 5%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .famous3{
    max-width: 90%;
    text-align: left;
    margin-top: 2%;
    margin-left:8% ; 
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3; 
  }
  
  .famousimage2 img {
    width: 60vw;
  }

  .famousimage4 img {
    width: 60vw;
  }
}
}

@media only screen and (max-width:450px){


  .famouscontainer {
    background: transparent;
    padding: 1.1rem 2rem;
    font-size: 1rem;
    position: relative;   
  }
  
  .famousimage2 {
    width: 100%;
    height: auto;
    margin-left:15% ;
    margin-right:15%;
    margin-top: 4%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  
  .famous1 {
    max-width: 100%;
    text-align: left;
    margin-top: 0%;
    margin-left:8% ; 
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3; 
  }
  
  
    .famousimage4 {
      width:  100%;
      height: auto;
      margin-left:15% ;
      margin-right:15%;
      margin-top: 5%;
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    
    .famous3{
      max-width: 100%;
      text-align: left;
      margin-top: 2%;
      margin-left:8% ; 
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 1;
      grid-column-end: 3; 
    }
    
    .famousimage2 img {
      width: 80vw;
    }
  
    .famousimage4 img {
      width: 80vw;
    }
  }
  
  /* ---------------------Gallery---------------------------- */
.all-gallery{
   background-color: #db4743 ;
}
.light img{
  width: 100%;
   margin-left: -7px;
   padding: 0;
}

/* Start gallery  */
.gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

/* gallery  */
.photo{
   position: relative;
  margin: 25px;
  display: flex;
  justify-content: space-evenly;
}

.photo img{
   max-width: 435px;
   width: 80%;
   height: 100%;
   border-radius: 5%;
   transition: 0.6s;
}

.photo img:hover{
  transform: scale(1.3);
  z-index: 1;
 align-items: center;
}


/* -----------------------------------Buffet--------------------------- */


.grid{
width: 100%;
height: auto;
margin: 0;
background-color:#326979; 
display: grid;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
grid-template-columns: 1fr 1fr;
justify-content: center;
gap: 10px;
padding: 10px;
box-sizing: border-box;
}

#buffetsection{
text-align: center;
margin-left:10% ;
margin-top: 0%;
grid-row-start: 1;
grid-row-end: 2;
grid-column-start: 1;
grid-column-end: 2;
}

.buffetText{
width: 80%;
margin-top: 20%;
margin-left:5% ;
grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 1;
grid-row-end: 2;
text-align: left;
}

.text-buff h2{
color: white;
font-size:25px;
}
.text-buff p{
 color: white;
 font-size:18px;
}

.corner-button {
background: transparent;
border: 0.2rem solid currentColor;
padding: 0.5rem 1rem;
font-size: 1.1rem;
position: relative;
color: #CC231E;
}

.corner-button p, h2 {
position: relative;
z-index: 2;
}
.corner-button::before, .corner-button::after {
content: '';
position: absolute;
background: #326979;
z-index: 1;
}
.corner-button::before {
width: calc(100% - 13rem);
height: calc(101% + 1rem);
top: -0.5rem;
left: 50%;
-webkit-transform: translateX(-50%);
        transform: translateX(-50%);
}

.corner-button::after {
height: calc(120% - 13rem);
width: calc(101% + 1rem);
left: -0.5rem;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}


@media only screen and (max-width:868px){

.buffetText{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 5%;
    margin-left: 10%;
    text-align: left;
}
#buffetsection{
    height: 110vh;
    margin-top: 7%;
    margin-left: 3%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.text-buff{
  color: white;
}
}
.corner-button {
background: transparent;
border: 0.2rem solid currentColor;
padding: 1.1rem 2rem;
font-size: 0.9rem;
position: relative;
color: #CC231E;
}


@media only screen and (max-width:450px){

.buffetText{
  width: 80vw;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20%;
    margin-left: 10%;
    text-align: left;
}
#buffetsection{
    height: 70vh;
    margin-top: 5%;
    margin-left: 3%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
.image img{
    width: 60vw;
}

.text-buff{
  color: white;
  width: 100%;
  font-size: 15px;
  margin-top: -40%;
}

.corner-button {
    background: transparent;
    border: 0.1rem solid currentColor;
    padding: 0.7rem 2rem;
    font-size: 0.2rem;
    position: relative;
    color: transparent;
  }


  .corner-button::before {
    width: calc(100% - 4rem);
    height: calc(101% + 1rem);
    top: -0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .corner-button::after {
    height: calc(120% - 4rem);
    width: calc(101% + 1rem);
    left: -0.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

}
/* ------------------------------ Covid -------------------- */


.grid1{
  width: 100%;
  height: auto;
  margin: 0;
  background-color:#ffffff; 
  display: grid;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box; 
  }

.section-giraffe{
  text-align: center;
  margin-top: 5%;
  margin-left: 5%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  }
  .image-giraffe img{
    width: 35vw;
    }

#text-covid{
  width: 100%;
  text-align: left;
  margin-left:15% ;
  margin-top: 13%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  }
.text h2{
  color:  #CC231E;
  }

.text p{
  color:  #CC231E;
  }


.corner-button1 {
  background: transparent;
  border: 0.2rem solid currentColor;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  position: relative;
  color: #CC231E;
  }


.corner-button1 p, h2 {
position: relative;
z-index: 2;
}
.corner-button1::before, .corner-button1::after {
content: '';
position: absolute;
background: #ffffff;
z-index: 1;
}
.corner-button1::before {
width: calc(100% - 13rem);
height: calc(101% + 1rem);
top: -0.5rem;
left: 50%;
-webkit-transform: translateX(-50%);
        transform: translateX(-50%);
}

.corner-button1::after {
height: calc(120% - 15rem);
width: calc(101% + 1rem);
left: -0.5rem;
top: 50%;
-webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}

@media only screen and (max-width:968px){

#text-covid{
    width: 70%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 5%;
    margin-right: 5%;
    text-align: left;
}
.section-giraffe{
    height: 72%;
    margin-top: 2%;
    margin-left: 7%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}


.image-giraffe img{
width: 50vw;
}
.corner-button1 {
  background: transparent;
  border: 0.2rem solid currentColor;
  padding: 1.1rem 2rem;
  font-size: 0.9rem;
  position: relative;
  color: #CC231E;
}

.corner-button1 p, h2 {
  position: relative;
  z-index: 2;
}
.corner-button1::before, .corner-button1::after {
  content: '';
  position: absolute;
  background: #ffffff;
  z-index: 1;
}
.corner-button1::before {
  width: calc(100% - 13rem);
  height: calc(101% + 1rem);
  top: -0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.corner-button1::after {
  height: calc(120% - 15rem);
  width: calc(101% + 1rem);
  left: -0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}



}

@media only screen and (max-width:450px){

#text-covid{
  width: 80%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin-top: 45%;
  margin-right: 0%;
  text-align: left;
}

.text-cov{
width: 100%;
font-size: 15px;
margin-top: -70%;
}
.section-giraffe{
height: 45%;
  margin-top: 7%;
  margin-left: 10%;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  z-index: 6;
}
.image-giraffe img{
    width: 60vw;
    z-index: 6;
}

.corner-button1 {
    background: transparent;
    border: 0.1rem solid currentColor;
    padding: 0.7rem 2rem;
    font-size: 0.2rem;
    position: relative;
    color: #CC231E;
  }

  .corner-button1::before {
    width: calc(100% - 4rem);
    height: calc(101% + 1rem);
    top: -0.5rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .corner-button1::after {
    height: calc(120% - 4rem);
    width: calc(101% + 1rem);
    left: -0.5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }

} 



/* ------------------------------ Footer-------------------- */

footer .footer-all {
  width:100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: #3B5B3B;
}

footer .box{
  flex-basis: 18%;
  color: white;
}
.logo-footer img{
  width: 70%;
  margin-top: 5%;
  margin-left: 5%;
}

footer a {
  color: white;
  text-decoration: none;
  text-decoration: underline;
}

.text-footer{
  font-size: 0.8rem;
  margin-top: 5%;
}

@media only screen and (max-width:750px){
  footer .footer-all {
 font-size: 0.7rem;
  }
  footer .box{
    flex-basis: 28%;
    margin: 1%;
    color: white;
  }
  .icon img{
    width: 15%;
  }

  .text-footer{
    font-size: 0.5rem;
    margin-top: 13%;
  }
}